<div class="container mt-4">
  <h2 class="mb-3">Product Catalog</h2>

  <div class="row mb-3">
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchInput($event)"
      />
    </div>
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="selectedCategory" (ngModelChange)="onFilterChange()">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="sortOption" (ngModelChange)="onFilterChange()">
        <option value="name">Sort by Name</option>
        <option value="price">Sort by Price</option>
      </select>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary w-100" (click)="toggleLayout()">
        {{ isSingleColumn ? 'Switch to Grid View' : 'Switch to List View' }}
      </button>
    </div>
  </div>

  <div class="row">
    <div
      class="mb-3"
      [class.col-md-12]="isSingleColumn"
      [class.col-md-4]="!isSingleColumn"
      *ngFor="let product of products"
    >
      <app-product-card [product]="product" [isSingleColumn]="isSingleColumn"></app-product-card>
    </div>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
    [totalItems]="totalItems"
    (pageChange)="loadPage($event)">
  </app-pagination>
</div>
