<div class="row mt-4">
  <div class="col-md-12">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" (click)="pageChange.emit(currentPage-1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item" [class.active]="currentPage === 0">
          <a class="page-link" (click)="pageChange.emit(0)">1</a>
        </li>

        <li *ngIf="currentPage > 3" class="page-item disabled">
          <a class="page-link">...</a>
        </li>

        <ng-container *ngFor="let page of getVisiblePages()">
          <li class="page-item" [class.active]="page === currentPage + 1">
            <a class="page-link" (click)="pageChange.emit(page - 1)">{{ page }}</a>
          </li>
        </ng-container>

        <li *ngIf="currentPage < totalPages - 4" class="page-item disabled">
          <a class="page-link">...</a>
        </li>

        <li *ngIf="totalPages > 1" class="page-item" [class.active]="currentPage === totalPages - 1">
          <a class="page-link" (click)="pageChange.emit(totalPages - 1)">{{ totalPages }}</a>
        </li>

        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
          <a class="page-link" (click)="pageChange.emit(currentPage+1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="text-center">
      <span>Showing {{ currentPage * pageSize + 1 }} to {{ getLastItemIndex() }} of {{ totalItems }} items</span>
    </div>
  </div>
</div>
